*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background: url(../d-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.heading h1{
  position:relative;
  top:10%;
  left:40%;
  font-size: 50px;
  font-weight: bold;
}
.heading p{
  position:absolute;
  top:10%;
  left:30%;
  font-size: 30px;
  font-weight: bold;
}
.team{
  position: absolute;
  top: 10%;
  left:0%;

}
.container {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*margin-top:100px;*/
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container__image {
  position: relative;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  width: 150px;
  height: 150px;
  margin-left:300px;
  margin-top: 100px;
  border-radius: 50%;
  background-image: url("../profile.jpg");
  background-size: cover;
  transition: ease-in-out .3s;
  z-index: 2;
}
.container__image:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out .4s;
  border-radius: 120px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.container__image .container__info {
  position: relative;
  line-height: 1.3;
  transition: ease-in-out .3s;
  opacity: 0;
}
.container__image .container__location {
  transition-delay: .15s;
}
.container__image:hover {
  border-radius: 0;
  width: 250px;
  height: 210px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
}
.container__image:hover:before {
  width: 50%;
  opacity: 0.18;
  filter: blur(10px) saturate(100%);
  transform: scale(2.8) translate3d(-18%, 0px, 0px);
}
.container__image:hover .container__info {
  transform: translate3d(-85%, 0px, 0px);
  opacity: 1;
}

.link {
  border-bottom: 1px solid transparent;
  color: #06C0A8;
  text-decoration: none;
  transition: ease-in .13s;
}
.link:hover {
  background-color: #06C0A8;
  color: #ffffff;
}
/************************** Back Button ************************************************
*/
ul {
    padding: 0;
    position:absolute;
    top:0%;
    left:3%;
    list-style-type: none;
}

li {
    font-size: 20px;
    width: 4em;
    height: 1em;
    color: black;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color:#ffbc63;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}