*{ margin:0; padding:0; box-sizing:border-box;}

.carousel-inner img{
	width: 100%;
	height: 90vh;
}

/*
........................team*/

.team{
	height: 700px;
	padding: 50px 0px 60px;
	width: 100%;
}
.team h1{
	font-size: 50px;
	font-weight: bold;
}
.team1{
	background:gray;
	height: 500px;
	padding-top: 50px ;
	width: 100%;
}
.team1 h1{
	
	font-size: 50px;
	font-weight: bold;
}
.team1 h4{
	font-style:"candara";
}
.space{
	margin-top: 70px;
}
.teamsetting{
	margin-top: 70px;
}

.fo{
	height:90vh;
}

/*
........................footer*/

.footer{
	width:100%;
	height:50px;
}
.footer h6{
	line-height:50px;
}

/*
..........................*/
/*.button
{
	width: 137px;
	height: 54px;
	background: #32c69a;
	overflow: hidden;
}*/
.button 
{
	overflow: hidden;
	display: block;
	position: relative;
	text-align: center;
}
.button span
{
	/*font-size: 11px;*/
	font-weight: 500;
	color: #FFFFFF;
	/*line-height: 54px;*/
	/*letter-spacing: 0.2em;*/
	white-space: nowrap;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.button span:first-child
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.button span:last-child
{
	/*position: absolute;*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 100%;
	/*font-size: 9px;*/
	opacity: 0;
}
.button:hover span:first-child
{
	top: -10%;
	/*font-size: 9px;*/
	opacity: 0;
}
.button:hover span:last-child
{
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*font-size: 11px;*/
	opacity: 1;
}
