/********************************* Pre-Loader ********************************************************************************
*/
#bod{
	display:none;
}
#pre-wrapper{
	display:block;
}
.path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: dash 5s ease-in-out;
  animation-delay:2s;
  animation-fill-mode: forwards;
}

@keyframes dash {  
  to{
    stroke-dashoffset: 0;
  }  
}

.number{
  transform:scale(0);
  animation: scale 0.2s ease-in-out;
  animation-delay:4s;
      animation-fill-mode: forwards;
}

@keyframes scale {  
  to{
    transform:scale(0.9);
  }  
}
/******************************* Back Button ***************************************
*/
.back-wrapper {
    padding: 0;
    position:absolute;
    top:6%;
    left:4.5%;
    list-style-type: none;
}
.back-wrapper button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  /*left: 50%;*/
  letter-spacing: 1.0px;
  line-height: 50px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  /*position: absolute;*/
  text-transform: uppercase;
  /*top: 50%;*/
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 100px;
}

.back-wrapper button::before,
.back-wrapper button::after {
  background-color:black ;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.back-wrapper button::before {
  top: 0;
  transform: rotate(45deg);
}

.back-wrapper button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.back-wrapper button:hover {
  color:#FF4B2B;
}

.back-wrapper button:hover::before,
.back-wrapper button:hover::after {
  height: 5px;
  transform: rotate(0deg);
}
/*******************************Background****************************************************************
*/
body {
  background: #f5f5dc;
}

.particle {
  position: absolute;
 		width:100%;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(31vw, 54vh, 10px);
            transform: translate3d(31vw, 54vh, 10px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(31vw, 54vh, 10px);
            transform: translate3d(31vw, 54vh, 10px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.13;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(11vw, 89vh, 49px);
          transform: translate3d(11vw, 89vh, 49px);
  background: #26d988;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(31vw, 16vh, 82px);
            transform: translate3d(31vw, 16vh, 82px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(31vw, 16vh, 82px);
            transform: translate3d(31vw, 16vh, 82px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.44;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(62vw, 81vh, 15px);
          transform: translate3d(62vw, 81vh, 15px);
  background: #d9b526;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(25vw, 4vh, 25px);
            transform: translate3d(25vw, 4vh, 25px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(25vw, 4vh, 25px);
            transform: translate3d(25vw, 4vh, 25px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.55;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(33vw, 65vh, 25px);
          transform: translate3d(33vw, 65vh, 25px);
  background: #c426d9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(8vw, 18vh, 66px);
            transform: translate3d(8vw, 18vh, 66px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(8vw, 18vh, 66px);
            transform: translate3d(8vw, 18vh, 66px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.57;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(82vw, 2vh, 100px);
          transform: translate3d(82vw, 2vh, 100px);
  background: #26d956;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(49vw, 40vh, 95px);
            transform: translate3d(49vw, 40vh, 95px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(49vw, 40vh, 95px);
            transform: translate3d(49vw, 40vh, 95px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.18;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(86vw, 6vh, 58px);
          transform: translate3d(86vw, 6vh, 58px);
  background: #d92629;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(19vw, 52vh, 66px);
            transform: translate3d(19vw, 52vh, 66px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(19vw, 52vh, 66px);
            transform: translate3d(19vw, 52vh, 66px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.95;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(20vw, 59vh, 86px);
          transform: translate3d(20vw, 59vh, 86px);
  background: #d926af;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(49vw, 11vh, 38px);
            transform: translate3d(49vw, 11vh, 38px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(49vw, 11vh, 38px);
            transform: translate3d(49vw, 11vh, 38px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.92;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(42vw, 88vh, 52px);
          transform: translate3d(42vw, 88vh, 52px);
  background: #26d98b;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(73vw, 27vh, 18px);
            transform: translate3d(73vw, 27vh, 18px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(73vw, 27vh, 18px);
            transform: translate3d(73vw, 27vh, 18px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.91;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(4vw, 87vh, 96px);
          transform: translate3d(4vw, 87vh, 96px);
  background: #68d926;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(67vw, 67vh, 11px);
            transform: translate3d(67vw, 67vh, 11px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(67vw, 67vh, 11px);
            transform: translate3d(67vw, 67vh, 11px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.28;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(71vw, 53vh, 84px);
          transform: translate3d(71vw, 53vh, 84px);
  background: #8226d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(19vw, 40vh, 5px);
            transform: translate3d(19vw, 40vh, 5px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(19vw, 40vh, 5px);
            transform: translate3d(19vw, 40vh, 5px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(58vw, 16vh, 94px);
          transform: translate3d(58vw, 16vh, 94px);
  background: #d92629;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(4vw, 88vh, 60px);
            transform: translate3d(4vw, 88vh, 60px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(4vw, 88vh, 60px);
            transform: translate3d(4vw, 88vh, 60px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.16;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(71vw, 20vh, 20px);
          transform: translate3d(71vw, 20vh, 20px);
  background: #d926be;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(53vw, 55vh, 97px);
            transform: translate3d(53vw, 55vh, 97px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(53vw, 55vh, 97px);
            transform: translate3d(53vw, 55vh, 97px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.02;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(73vw, 33vh, 79px);
          transform: translate3d(73vw, 33vh, 79px);
  background: #26d93e;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(51vw, 11vh, 52px);
            transform: translate3d(51vw, 11vh, 52px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(51vw, 11vh, 52px);
            transform: translate3d(51vw, 11vh, 52px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.56;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(2vw, 22vh, 28px);
          transform: translate3d(2vw, 22vh, 28px);
  background: #4d26d9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(71vw, 29vh, 96px);
            transform: translate3d(71vw, 29vh, 96px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(71vw, 29vh, 96px);
            transform: translate3d(71vw, 29vh, 96px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.14;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(49vw, 6vh, 18px);
          transform: translate3d(49vw, 6vh, 18px);
  background: #26d953;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(43vw, 35vh, 37px);
            transform: translate3d(43vw, 35vh, 37px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(43vw, 35vh, 37px);
            transform: translate3d(43vw, 35vh, 37px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.19;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(89vw, 53vh, 91px);
          transform: translate3d(89vw, 53vh, 91px);
  background: #d94726;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(41vw, 29vh, 77px);
            transform: translate3d(41vw, 29vh, 77px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(41vw, 29vh, 77px);
            transform: translate3d(41vw, 29vh, 77px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.6;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(68vw, 6vh, 43px);
          transform: translate3d(68vw, 6vh, 43px);
  background: #269ad9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(3vw, 10vh, 44px);
            transform: translate3d(3vw, 10vh, 44px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(3vw, 10vh, 44px);
            transform: translate3d(3vw, 10vh, 44px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.77;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(33vw, 13vh, 82px);
          transform: translate3d(33vw, 13vh, 82px);
  background: #267dd9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(43vw, 27vh, 32px);
            transform: translate3d(43vw, 27vh, 32px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(43vw, 27vh, 32px);
            transform: translate3d(43vw, 27vh, 32px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.81;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(37vw, 41vh, 10px);
          transform: translate3d(37vw, 41vh, 10px);
  background: #26d9b2;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(65vw, 86vh, 93px);
            transform: translate3d(65vw, 86vh, 93px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(65vw, 86vh, 93px);
            transform: translate3d(65vw, 86vh, 93px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.33;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(18vw, 14vh, 91px);
          transform: translate3d(18vw, 14vh, 91px);
  background: #d98026;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(26vw, 75vh, 21px);
            transform: translate3d(26vw, 75vh, 21px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(26vw, 75vh, 21px);
            transform: translate3d(26vw, 75vh, 21px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.01;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(72vw, 42vh, 12px);
          transform: translate3d(72vw, 42vh, 12px);
  background: #d6d926;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(80vw, 24vh, 52px);
            transform: translate3d(80vw, 24vh, 52px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(80vw, 24vh, 52px);
            transform: translate3d(80vw, 24vh, 52px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.56;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(45vw, 61vh, 28px);
          transform: translate3d(45vw, 61vh, 28px);
  background: #9ad926;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(44vw, 35vh, 36px);
            transform: translate3d(44vw, 35vh, 36px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(44vw, 35vh, 36px);
            transform: translate3d(44vw, 35vh, 36px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.17;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(84vw, 33vh, 64px);
          transform: translate3d(84vw, 33vh, 64px);
  background: #26d9d3;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(36vw, 52vh, 22px);
            transform: translate3d(36vw, 52vh, 22px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(36vw, 52vh, 22px);
            transform: translate3d(36vw, 52vh, 22px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.74;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(22vw, 52vh, 60px);
          transform: translate3d(22vw, 52vh, 60px);
  background: #26d9d0;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(6vw, 21vh, 39px);
            transform: translate3d(6vw, 21vh, 39px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(6vw, 21vh, 39px);
            transform: translate3d(6vw, 21vh, 39px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.22;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(79vw, 87vh, 3px);
          transform: translate3d(79vw, 87vh, 3px);
  background: #5cd926;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(5vw, 56vh, 61px);
            transform: translate3d(5vw, 56vh, 61px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(5vw, 56vh, 61px);
            transform: translate3d(5vw, 56vh, 61px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.45;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(46vw, 68vh, 31px);
          transform: translate3d(46vw, 68vh, 31px);
  background: #6ed926;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(65vw, 58vh, 75px);
            transform: translate3d(65vw, 58vh, 75px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(65vw, 58vh, 75px);
            transform: translate3d(65vw, 58vh, 75px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.36;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(28vw, 52vh, 32px);
          transform: translate3d(28vw, 52vh, 32px);
  background: #6226d9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(28vw, 83vh, 85px);
            transform: translate3d(28vw, 83vh, 85px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(28vw, 83vh, 85px);
            transform: translate3d(28vw, 83vh, 85px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.96;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(76vw, 77vh, 59px);
          transform: translate3d(76vw, 77vh, 59px);
  background: #b526d9;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(28vw, 50vh, 93px);
            transform: translate3d(28vw, 50vh, 93px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(28vw, 50vh, 93px);
            transform: translate3d(28vw, 50vh, 93px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(25vw, 48vh, 43px);
          transform: translate3d(25vw, 48vh, 43px);
  background: #26c7d9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(14vw, 66vh, 48px);
            transform: translate3d(14vw, 66vh, 48px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(14vw, 66vh, 48px);
            transform: translate3d(14vw, 66vh, 48px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.64;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(58vw, 66vh, 73px);
          transform: translate3d(58vw, 66vh, 73px);
  background: #c4d926;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(19vw, 60vh, 26px);
            transform: translate3d(19vw, 60vh, 26px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(19vw, 60vh, 26px);
            transform: translate3d(19vw, 60vh, 26px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(22vw, 13vh, 31px);
          transform: translate3d(22vw, 13vh, 31px);
  background: #d97726;
}

@-webkit-keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(37vw, 39vh, 13px);
            transform: translate3d(37vw, 39vh, 13px);
  }
}

@keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(37vw, 39vh, 13px);
            transform: translate3d(37vw, 39vh, 13px);
  }
}
.particle:nth-child(31) {
  -webkit-animation: particle-animation-31 60s infinite;
          animation: particle-animation-31 60s infinite;
  opacity: 0.88;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
  -webkit-transform: translate3d(4vw, 67vh, 50px);
          transform: translate3d(4vw, 67vh, 50px);
  background: #d94a26;
}

@-webkit-keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(49vw, 40vh, 7px);
            transform: translate3d(49vw, 40vh, 7px);
  }
}

@keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(49vw, 40vh, 7px);
            transform: translate3d(49vw, 40vh, 7px);
  }
}
.particle:nth-child(32) {
  -webkit-animation: particle-animation-32 60s infinite;
          animation: particle-animation-32 60s infinite;
  opacity: 0.51;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  -webkit-transform: translate3d(72vw, 79vh, 8px);
          transform: translate3d(72vw, 79vh, 8px);
  background: #26d97a;
}

@-webkit-keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(36vw, 2vh, 26px);
            transform: translate3d(36vw, 2vh, 26px);
  }
}

@keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(36vw, 2vh, 26px);
            transform: translate3d(36vw, 2vh, 26px);
  }
}
.particle:nth-child(33) {
  -webkit-animation: particle-animation-33 60s infinite;
          animation: particle-animation-33 60s infinite;
  opacity: 0.85;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  -webkit-transform: translate3d(86vw, 81vh, 84px);
          transform: translate3d(86vw, 81vh, 84px);
  background: #32d926;
}

@-webkit-keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(22vw, 39vh, 55px);
            transform: translate3d(22vw, 39vh, 55px);
  }
}

@keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(22vw, 39vh, 55px);
            transform: translate3d(22vw, 39vh, 55px);
  }
}
.particle:nth-child(34) {
  -webkit-animation: particle-animation-34 60s infinite;
          animation: particle-animation-34 60s infinite;
  opacity: 0.49;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  -webkit-transform: translate3d(8vw, 31vh, 97px);
          transform: translate3d(8vw, 31vh, 97px);
  background: #8ed926;
}

@-webkit-keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(79vw, 14vh, 22px);
            transform: translate3d(79vw, 14vh, 22px);
  }
}

@keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(79vw, 14vh, 22px);
            transform: translate3d(79vw, 14vh, 22px);
  }
}
.particle:nth-child(35) {
  -webkit-animation: particle-animation-35 60s infinite;
          animation: particle-animation-35 60s infinite;
  opacity: 0.95;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  -webkit-transform: translate3d(43vw, 43vh, 40px);
          transform: translate3d(43vw, 43vh, 40px);
  background: #3b26d9;
}

@-webkit-keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(27vw, 17vh, 45px);
            transform: translate3d(27vw, 17vh, 45px);
  }
}

@keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(27vw, 17vh, 45px);
            transform: translate3d(27vw, 17vh, 45px);
  }
}
.particle:nth-child(36) {
  -webkit-animation: particle-animation-36 60s infinite;
          animation: particle-animation-36 60s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  -webkit-transform: translate3d(61vw, 49vh, 73px);
          transform: translate3d(61vw, 49vh, 73px);
  background: #d99d26;
}

@-webkit-keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(62vw, 30vh, 3px);
            transform: translate3d(62vw, 30vh, 3px);
  }
}

@keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(62vw, 30vh, 3px);
            transform: translate3d(62vw, 30vh, 3px);
  }
}
.particle:nth-child(37) {
  -webkit-animation: particle-animation-37 60s infinite;
          animation: particle-animation-37 60s infinite;
  opacity: 0.73;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
  -webkit-transform: translate3d(19vw, 81vh, 70px);
          transform: translate3d(19vw, 81vh, 70px);
  background: #d9ac26;
}

@-webkit-keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(21vw, 11vh, 6px);
            transform: translate3d(21vw, 11vh, 6px);
  }
}

@keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(21vw, 11vh, 6px);
            transform: translate3d(21vw, 11vh, 6px);
  }
}
.particle:nth-child(38) {
  -webkit-animation: particle-animation-38 60s infinite;
          animation: particle-animation-38 60s infinite;
  opacity: 0.93;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  -webkit-transform: translate3d(87vw, 10vh, 65px);
          transform: translate3d(87vw, 10vh, 65px);
  background: #26d92f;
}

@-webkit-keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(41vw, 56vh, 94px);
            transform: translate3d(41vw, 56vh, 94px);
  }
}

@keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(41vw, 56vh, 94px);
            transform: translate3d(41vw, 56vh, 94px);
  }
}
.particle:nth-child(39) {
  -webkit-animation: particle-animation-39 60s infinite;
          animation: particle-animation-39 60s infinite;
  opacity: 0.56;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
  -webkit-transform: translate3d(86vw, 54vh, 43px);
          transform: translate3d(86vw, 54vh, 43px);
  background: #d9be26;
}

@-webkit-keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(5vw, 15vh, 36px);
            transform: translate3d(5vw, 15vh, 36px);
  }
}

@keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(5vw, 15vh, 36px);
            transform: translate3d(5vw, 15vh, 36px);
  }
}
.particle:nth-child(40) {
  -webkit-animation: particle-animation-40 60s infinite;
          animation: particle-animation-40 60s infinite;
  opacity: 0.54;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  -webkit-transform: translate3d(17vw, 60vh, 64px);
          transform: translate3d(17vw, 60vh, 64px);
  background: #38d926;
}

@-webkit-keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(54vw, 37vh, 54px);
            transform: translate3d(54vw, 37vh, 54px);
  }
}

@keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(54vw, 37vh, 54px);
            transform: translate3d(54vw, 37vh, 54px);
  }
}
.particle:nth-child(41) {
  -webkit-animation: particle-animation-41 60s infinite;
          animation: particle-animation-41 60s infinite;
  opacity: 0.85;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -8.2s;
          animation-delay: -8.2s;
  -webkit-transform: translate3d(58vw, 64vh, 21px);
          transform: translate3d(58vw, 64vh, 21px);
  background: #3226d9;
}

@-webkit-keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(9vw, 18vh, 59px);
            transform: translate3d(9vw, 18vh, 59px);
  }
}

@keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(9vw, 18vh, 59px);
            transform: translate3d(9vw, 18vh, 59px);
  }
}
.particle:nth-child(42) {
  -webkit-animation: particle-animation-42 60s infinite;
          animation: particle-animation-42 60s infinite;
  opacity: 0.88;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  -webkit-transform: translate3d(57vw, 68vh, 28px);
          transform: translate3d(57vw, 68vh, 28px);
  background: #8ed926;
}

@-webkit-keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(30vw, 36vh, 10px);
            transform: translate3d(30vw, 36vh, 10px);
  }
}

@keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(30vw, 36vh, 10px);
            transform: translate3d(30vw, 36vh, 10px);
  }
}
.particle:nth-child(43) {
  -webkit-animation: particle-animation-43 60s infinite;
          animation: particle-animation-43 60s infinite;
  opacity: 0.76;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  -webkit-transform: translate3d(43vw, 69vh, 90px);
          transform: translate3d(43vw, 69vh, 90px);
  background: #32d926;
}

@-webkit-keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(69vw, 7vh, 77px);
            transform: translate3d(69vw, 7vh, 77px);
  }
}

@keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(69vw, 7vh, 77px);
            transform: translate3d(69vw, 7vh, 77px);
  }
}
.particle:nth-child(44) {
  -webkit-animation: particle-animation-44 60s infinite;
          animation: particle-animation-44 60s infinite;
  opacity: 0.71;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  -webkit-transform: translate3d(19vw, 27vh, 68px);
          transform: translate3d(19vw, 27vh, 68px);
  background: #6826d9;
}

@-webkit-keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(61vw, 46vh, 58px);
            transform: translate3d(61vw, 46vh, 58px);
  }
}

@keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(61vw, 46vh, 58px);
            transform: translate3d(61vw, 46vh, 58px);
  }
}
.particle:nth-child(45) {
  -webkit-animation: particle-animation-45 60s infinite;
          animation: particle-animation-45 60s infinite;
  opacity: 0.95;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  -webkit-transform: translate3d(50vw, 57vh, 40px);
          transform: translate3d(50vw, 57vh, 40px);
  background: #d97a26;
}

@-webkit-keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(78vw, 55vh, 91px);
            transform: translate3d(78vw, 55vh, 91px);
  }
}

@keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(78vw, 55vh, 91px);
            transform: translate3d(78vw, 55vh, 91px);
  }
}
.particle:nth-child(46) {
  -webkit-animation: particle-animation-46 60s infinite;
          animation: particle-animation-46 60s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  -webkit-transform: translate3d(54vw, 63vh, 70px);
          transform: translate3d(54vw, 63vh, 70px);
  background: #26acd9;
}

@-webkit-keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(27vw, 3vh, 4px);
            transform: translate3d(27vw, 3vh, 4px);
  }
}

@keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(27vw, 3vh, 4px);
            transform: translate3d(27vw, 3vh, 4px);
  }
}
.particle:nth-child(47) {
  -webkit-animation: particle-animation-47 60s infinite;
          animation: particle-animation-47 60s infinite;
  opacity: 0.19;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -9.4s;
          animation-delay: -9.4s;
  -webkit-transform: translate3d(79vw, 44vh, 5px);
          transform: translate3d(79vw, 44vh, 5px);
  background: #be26d9;
}

@-webkit-keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(23vw, 69vh, 11px);
            transform: translate3d(23vw, 69vh, 11px);
  }
}

@keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(23vw, 69vh, 11px);
            transform: translate3d(23vw, 69vh, 11px);
  }
}
.particle:nth-child(48) {
  -webkit-animation: particle-animation-48 60s infinite;
          animation: particle-animation-48 60s infinite;
  opacity: 0.75;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  -webkit-transform: translate3d(43vw, 39vh, 97px);
          transform: translate3d(43vw, 39vh, 97px);
  background: #d98b26;
}

@-webkit-keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(84vw, 75vh, 28px);
            transform: translate3d(84vw, 75vh, 28px);
  }
}

@keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(84vw, 75vh, 28px);
            transform: translate3d(84vw, 75vh, 28px);
  }
}
.particle:nth-child(49) {
  -webkit-animation: particle-animation-49 60s infinite;
          animation: particle-animation-49 60s infinite;
  opacity: 0.9;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
  -webkit-transform: translate3d(39vw, 87vh, 74px);
          transform: translate3d(39vw, 87vh, 74px);
  background: #d94a26;
}

@-webkit-keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(13vw, 64vh, 47px);
            transform: translate3d(13vw, 64vh, 47px);
  }
}

@keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(13vw, 64vh, 47px);
            transform: translate3d(13vw, 64vh, 47px);
  }
}
.particle:nth-child(50) {
  -webkit-animation: particle-animation-50 60s infinite;
          animation: particle-animation-50 60s infinite;
  opacity: 0.28;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  -webkit-transform: translate3d(31vw, 34vh, 47px);
          transform: translate3d(31vw, 34vh, 47px);
  background: #d926a3;
}

@-webkit-keyframes particle-animation-51 {
  100% {
    -webkit-transform: translate3d(56vw, 14vh, 94px);
            transform: translate3d(56vw, 14vh, 94px);
  }
}

@keyframes particle-animation-51 {
  100% {
    -webkit-transform: translate3d(56vw, 14vh, 94px);
            transform: translate3d(56vw, 14vh, 94px);
  }
}
.particle:nth-child(51) {
  -webkit-animation: particle-animation-51 60s infinite;
          animation: particle-animation-51 60s infinite;
  opacity: 0.28;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
  -webkit-transform: translate3d(10vw, 38vh, 23px);
          transform: translate3d(10vw, 38vh, 23px);
  background: #d94d26;
}

@-webkit-keyframes particle-animation-52 {
  100% {
    -webkit-transform: translate3d(56vw, 29vh, 4px);
            transform: translate3d(56vw, 29vh, 4px);
  }
}

@keyframes particle-animation-52 {
  100% {
    -webkit-transform: translate3d(56vw, 29vh, 4px);
            transform: translate3d(56vw, 29vh, 4px);
  }
}
.particle:nth-child(52) {
  -webkit-animation: particle-animation-52 60s infinite;
          animation: particle-animation-52 60s infinite;
  opacity: 0.72;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  -webkit-transform: translate3d(47vw, 25vh, 57px);
          transform: translate3d(47vw, 25vh, 57px);
  background: #26d977;
}

@-webkit-keyframes particle-animation-53 {
  100% {
    -webkit-transform: translate3d(59vw, 39vh, 97px);
            transform: translate3d(59vw, 39vh, 97px);
  }
}

@keyframes particle-animation-53 {
  100% {
    -webkit-transform: translate3d(59vw, 39vh, 97px);
            transform: translate3d(59vw, 39vh, 97px);
  }
}
.particle:nth-child(53) {
  -webkit-animation: particle-animation-53 60s infinite;
          animation: particle-animation-53 60s infinite;
  opacity: 0.15;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -10.6s;
          animation-delay: -10.6s;
  -webkit-transform: translate3d(11vw, 7vh, 74px);
          transform: translate3d(11vw, 7vh, 74px);
  background: #59d926;
}

@-webkit-keyframes particle-animation-54 {
  100% {
    -webkit-transform: translate3d(9vw, 87vh, 26px);
            transform: translate3d(9vw, 87vh, 26px);
  }
}

@keyframes particle-animation-54 {
  100% {
    -webkit-transform: translate3d(9vw, 87vh, 26px);
            transform: translate3d(9vw, 87vh, 26px);
  }
}
.particle:nth-child(54) {
  -webkit-animation: particle-animation-54 60s infinite;
          animation: particle-animation-54 60s infinite;
  opacity: 0.65;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  -webkit-transform: translate3d(12vw, 50vh, 51px);
          transform: translate3d(12vw, 50vh, 51px);
  background: #26d92c;
}

@-webkit-keyframes particle-animation-55 {
  100% {
    -webkit-transform: translate3d(23vw, 90vh, 53px);
            transform: translate3d(23vw, 90vh, 53px);
  }
}

@keyframes particle-animation-55 {
  100% {
    -webkit-transform: translate3d(23vw, 90vh, 53px);
            transform: translate3d(23vw, 90vh, 53px);
  }
}
.particle:nth-child(55) {
  -webkit-animation: particle-animation-55 60s infinite;
          animation: particle-animation-55 60s infinite;
  opacity: 0.05;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  -webkit-transform: translate3d(22vw, 12vh, 15px);
          transform: translate3d(22vw, 12vh, 15px);
  background: #d94d26;
}

@-webkit-keyframes particle-animation-56 {
  100% {
    -webkit-transform: translate3d(25vw, 6vh, 38px);
            transform: translate3d(25vw, 6vh, 38px);
  }
}

@keyframes particle-animation-56 {
  100% {
    -webkit-transform: translate3d(25vw, 6vh, 38px);
            transform: translate3d(25vw, 6vh, 38px);
  }
}
.particle:nth-child(56) {
  -webkit-animation: particle-animation-56 60s infinite;
          animation: particle-animation-56 60s infinite;
  opacity: 0.23;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  -webkit-transform: translate3d(58vw, 67vh, 90px);
          transform: translate3d(58vw, 67vh, 90px);
  background: #d96526;
}

@-webkit-keyframes particle-animation-57 {
  100% {
    -webkit-transform: translate3d(26vw, 47vh, 79px);
            transform: translate3d(26vw, 47vh, 79px);
  }
}

@keyframes particle-animation-57 {
  100% {
    -webkit-transform: translate3d(26vw, 47vh, 79px);
            transform: translate3d(26vw, 47vh, 79px);
  }
}
.particle:nth-child(57) {
  -webkit-animation: particle-animation-57 60s infinite;
          animation: particle-animation-57 60s infinite;
  opacity: 0.65;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -11.4s;
          animation-delay: -11.4s;
  -webkit-transform: translate3d(78vw, 10vh, 56px);
          transform: translate3d(78vw, 10vh, 56px);
  background: #d92694;
}

@-webkit-keyframes particle-animation-58 {
  100% {
    -webkit-transform: translate3d(30vw, 18vh, 23px);
            transform: translate3d(30vw, 18vh, 23px);
  }
}

@keyframes particle-animation-58 {
  100% {
    -webkit-transform: translate3d(30vw, 18vh, 23px);
            transform: translate3d(30vw, 18vh, 23px);
  }
}
.particle:nth-child(58) {
  -webkit-animation: particle-animation-58 60s infinite;
          animation: particle-animation-58 60s infinite;
  opacity: 0.79;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  -webkit-transform: translate3d(2vw, 52vh, 84px);
          transform: translate3d(2vw, 52vh, 84px);
  background: #26d92f;
}

@-webkit-keyframes particle-animation-59 {
  100% {
    -webkit-transform: translate3d(83vw, 87vh, 31px);
            transform: translate3d(83vw, 87vh, 31px);
  }
}

@keyframes particle-animation-59 {
  100% {
    -webkit-transform: translate3d(83vw, 87vh, 31px);
            transform: translate3d(83vw, 87vh, 31px);
  }
}
.particle:nth-child(59) {
  -webkit-animation: particle-animation-59 60s infinite;
          animation: particle-animation-59 60s infinite;
  opacity: 0.66;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -11.8s;
          animation-delay: -11.8s;
  -webkit-transform: translate3d(56vw, 36vh, 77px);
          transform: translate3d(56vw, 36vh, 77px);
  background: #47d926;
}

@-webkit-keyframes particle-animation-60 {
  100% {
    -webkit-transform: translate3d(11vw, 63vh, 46px);
            transform: translate3d(11vw, 63vh, 46px);
  }
}

@keyframes particle-animation-60 {
  100% {
    -webkit-transform: translate3d(11vw, 63vh, 46px);
            transform: translate3d(11vw, 63vh, 46px);
  }
}
.particle:nth-child(60) {
  -webkit-animation: particle-animation-60 60s infinite;
          animation: particle-animation-60 60s infinite;
  opacity: 0.39;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  -webkit-transform: translate3d(61vw, 75vh, 94px);
          transform: translate3d(61vw, 75vh, 94px);
  background: #6bd926;
}


/******************************** Mail GIF **************************************************************************************
*/
.gif{
	background:	 url("../contact-mail.gif") no-repeat center top fixed;
	/*background-position: 400px 100px;*/
	background-size: 450px 250px;
	position: absolute;
	/*top:10%;*/
	left:35%;
	width:50%;
	height:40%;

}
/************************************ The typewriter effect **********************************************************
*/
.txt{
	position:absolute;
	top:50%;
	left:20%;
}
.typewriter h1 {
  	color: #000;
  	font-family: monospace;
 	overflow: hidden;
  	border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



Resources

/************************************ Social Buttons ********************************************************
*/

 .s-wrapper{
  font-family: 'Roboto Condensed', sans-serif;

}

ul {
  position:absolute;
  top:80%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

ul li {
  list-style:none;
  margin:0 5px;
}

ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fa {
  color:#fff;
}

ul li:hover span {
  color:#fff;
}

ul li:hover:nth-child(1) a{
  background: #3b5998;
}
ul li:hover:nth-child(1) a:before{
  background: #365492;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

ul li:hover:nth-child(2) a{
  background: #00aced;
}
ul li:hover:nth-child(2) a:before{
  background: #097aa5;
}
ul li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

ul li:hover:nth-child(3) a{
  background: #dd4b39;
}
ul li:hover:nth-child(3) a:before{
  background: #b33a2b;
}
ul li:hover:nth-child(3) a:after{
  background: #e66a5a;
}

ul li:hover:nth-child(4) a{
  background: #e4405f;
}
ul li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
ul li:hover:nth-child(4) a:after{
  background: #e46880;
}